{% if section.settings.enable_section %}
  <h2 class="home-page-banner-title {{ section.settings.heading_size }}">
    <a href="/pages/press">
      {{ section.settings.home_page_banner_title }}
    </a>
  </h2>
  <section class="home-page-banner">
    <section class="home-page-banner-logos">
      {% for logo in section.blocks %}
        {% if logo.settings.company_logo != null %}
          {% assign company_logo = logo.settings.company_logo %}
          <div class="home-page-banner-logos-logo">
            {% if logo.settings.press_url != empty %}
              <a href="{{ logo.settings.press_url }}" target="_blank">
                {{ company_logo | image_url: width: 300 | image_tag }}
              </a>
            {% else %}
              <a href="/pages/press">
                {{ company_logo | image_url: width: 300 | image_tag }}
              </a>
            {% endif %}
          </div>
        {% endif %}
      {% endfor %}
    </section>
  </section>
{% endif %}
{% style %}
  .home-page-banner {
    background-color: {{ section.settings.background_color }};
    padding: 1rem 0;
    margin: 1rem auto;
  }
  .home-page-banner-title {
    text-align: center;
    margin: 2rem auto 1rem;
    color: {{ section.settings.title_color }};
    font-family: var(--font-heading-family);
    text-transform: uppercase;
  }
  .home-page-banner-title a {
    text-decoration: none;
    color: inherit;
  }
  .home-page-banner-logos {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .home-page-banner-logos-logo {
    width: 20%;
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    padding: 1rem 1vw;
  }
  .home-page-banner-logos-logo img {
    width: 100%;
    height: auto;
  }
  @media screen and (max-width: 480px) {
    .home-page-banner-logos-logo {
      width: 40%;
    }
  }
{% endstyle %}
{% schema %}
{
  "name": "t:sections.home_page_banner.title",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_section",
      "label": "t:sections.home_page_banner.enable_section",
      "default": true
    },
    {
      "type": "text",
      "id": "home_page_banner_title",
      "label": "t:sections.home_page_banner.banner_title",
      "default": "Loved by"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.home_page_banner.title_size",
      "options": [
        {
          "value": "h2",
          "label": "t:sections.home_page_banner.title_size_options.option_1.label"
        },
        {
          "value": "h1",
          "label": "t:sections.home_page_banner.title_size_options.option_2.label"
        },
        {
          "value": "h0",
          "label": "t:sections.home_page_banner.title_size_options.option_3.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "t:sections.home_page_banner.background_color",
      "default": "#dfc3a0"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "t:sections.home_page_banner.title_color",
      "default": "#000000"
    }
  ],
  "blocks": [
    {
      "type": "company_logo",
      "name": "t:sections.home_page_banner.blocks.add_company_logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "company_logo",
          "label": "t:sections.home_page_banner.blocks.add_company_logo_label.label"
        },
        {
          "type": "text",
          "id": "press_url",
          "label": "t:sections.home_page_banner.blocks.add_press_url_label.label"
        }
      ]
    }
  ]
}
{% endschema %}
